.about-content {
  max-width: 1280px;
  margin: 0 auto;
}
.about-content .about-hero {
  width: 980px;
  height: 379px;
  background-image: url(../images/about.jpg);
  background-position: center;
  background-size: cover;
}